
h1 {
  vertical-align: middle;
}

h2 {
    text-align: center;
}


#score {
    margin-top: 15px;
    text-align: center;
    font-size: 32px;
    padding: 5px;
    color: goldenrod;
    text-shadow: 3px 6px 5px #000000;
}

#value {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    padding:5px;
    color: aliceblue;
    text-shadow: 3px 6px 5px #000000;
}

#category {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: aliceblue;
    text-shadow: 3px 6px 5px #000000;
}

#question-number {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: aliceblue;
  text-shadow: 3px 6px 5px #000000;
    font-size: 26px;
}

#question {
    height: 250px;
    width: 90%;
    margin: 0 auto;
    background-color: #060ce9;
    color: white;
    text-align: center;
    border: black 1px solid;
    padding: 5px;
    margin-top: center;
    margin-bottom: center;
    border-radius: 4px;
    margin-bottom: 35px;
    box-shadow: 10px 10px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newSkip {
    display: flex;
    align-content: stretch;
    margin-bottom: 20px;
}

.title {
    display: block;
    width: 30%;
    height: auto; 
    margin: 0 auto;
  }

.container {
    display: flex;
    justify-content: space-between;
}

  .buttons {
    background-color: #060ce9;
    border: black 5px;
    color: goldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 5px 5px 3px black
  }

  .buttonMouseOverColor {
    color: #060ce9;
    background-color: goldenrod;
  }

  #skip {
      align-self: left;
  }

  body {
    background-image: linear-gradient(to bottom right, blue, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #answer {
    width: 35%;
    height: 45px;
  }

  #answerSubmit {
    display: flex;
    justify-content: center;
  }

  #submit {
      background-color: #060ce9;
      color: goldenrod;
      border-radius: 4px;
      margin: 5px;
      height: 40px;
      min-width: 80px;
      font-size: 20px;
  }

  #new-game:hover {
    color: #060ce9;
    background-color: goldenrod;
    transform: scale(1.15);
  }

  #submit:hover {
    color: #060ce9;
    background-color: goldenrod;
    transform: scale(1.1);
  }

  #skip:hover {
    color: #060ce9;
    background-color: goldenrod;
    transform: scale(1.15);
  }

  .fin {
    pointer-events: none;
}



@media only screen and (min-width: 950px) {
  #question {
    font-size: 20px;
    height: 300px;
    width: 70%;
  }
  #newSkip {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
  }
  p {
    font-size: 55px;
  }
  #value {
    font-size: 26px;
  }
  #category {
    font-size: 26px;
  }
  
  #heading {
    display:flex;
    flex-flow: column;
  }
  #img {
    margin-top: -65px;
  }
}

@media only screen and (max-width: 950px) {
  #question {
    font-size: 12px;
  }
  p {
    font-size: 35px;
  }
  #value {
    font-size: 22px;
  }
  #category {
    font-size: 22px;
  }
  #question-number {
    font-size: 22px;
  }
  .title {
    width: 65%
  }
}